#配置视图解析器和数据库
spring:
  mvc:
    view:
      prefix: /jsps/
      suffix: .jsp
    static-path-pattern: /static/**
  datasource:
    url: jdbc:mysql://59.110.139.4/hospital?&allowMultiQueries=true&useSSL=false
    password: root
    username: root
    driver-class-name: com.mysql.jdbc.Driver
  devtools:
    restart:
      enabled: true
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/,file:${web.upload-path}
  redis:
    database: 1
    host: 47.94.236.46
    port: 6379
    pool:
      # 连接池最大连接数（使用负值表示没有限制）
      max-active: 200
      # 连接池最大阻塞等待时间（使用负值表示没有限制）
      max-wait: -1
      # 连接池中的最大空闲连接
      max-idle: 10
      # 连接池中的最小空闲连接
      min-idle: 0
    timeout: 1000

#配置热部署
server:
  port: 8088
  jsp-servlet:
    init-parameters:
      development: true
#配置mybatis 扫描mapper配置文件   其别名  开启驼峰命名
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.buba.hospital_back.bean
  configuration:
    map-underscore-to-camel-case: true
#打印sql语句
logging:
  level:
    com.buba.hospital_back.mapper: debug
pagehelper:
  reasonable: true
  helper-dialect: mysql

