<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.ReservationMapper">
    <!--List<ReservationVo> find_reservation();-->

    <select id="find_reservation" resultType="com.buba.hospital_back.bean.ReservationVo">
         SELECT
		o.id id,
		p.patient_name patientName,
		p.patient_medicalCardNumber patientMedicalcardnumber,
		p.patient_tel patientTel,
		o.order_num orderNum,
		o.order_name orderName,
		o.pay_start_time payStartTime,
		o.pay_money payMoney,
		o.pay_way payWay,
		o. STATUS orderStatus,
		t.timeframe timeframe,
		d. NAME doctorName,
		h.hospital_name hospitalName,
		f.department_name departmentName,
		a.appointment_time appointmentTime
	FROM
		sec_reservation r,
		sec_patient p,
		his_order o,
		sec_doctor_appointmenttime_timeframe t,
		sec_doctor_appointmenttime a,
		sec_doctor d,
		sec_hospital h,
		sec_first_department f
	WHERE
		r.patient_id = p.id
	AND r.order_id = o.id
	AND o.order_name = '预约挂号'
	AND r.timeframe_id = t.id
	AND r.doctor_id = d.id
	AND r.hospital_id = h.id
	AND r.department_id = f.id
	and a.id=t.appointmenttime_id
    </select>
    <!--List<HisOrder> find_hisOrder(HisOrder hisOrder);-->
    <select id="find_hisOrder" resultType="com.buba.hospital_back.bean.HisOrder">
        SELECT o.*,p.patient_medicalCardNumber medicalCardNumber from his_order o,sec_patient p
        where o.order_placer=p.id
        <if test="payStartTime!=null and payStartTime2==null">
            and pay_start_time between  #{payStartTime} and  date_sub(#{payStartTime},interval -1 day)
        </if>
        <if test="payStartTime2!=null and payStartTime==null ">
            and pay_start_time between  #{payStartTime2} and  date_sub(#{payStartTime2},interval -1 day)
        </if>
        <if test="refundStartTime!=null and refundStartTime2==null">
            and refund_start_time between #{refundStartTime} and  date_sub(#{refundStartTime},interval -1 day)
        </if>
        <if test="refundStartTime2!=null and refundStartTime==null">
            and refund_start_time between #{refundStartTime2} and  date_sub(#{refundStartTime2},interval -1 day)
        </if>
        <if test="payStartTime!=null and payStartTime2!=null">
            and  pay_start_time between   #{payStartTime} and  #{payStartTime2}
        </if>
        <if test="refundStartTime!=null and refundStartTime2!=null">
            and refund_start_time between #{refundStartTime} and  #{refundStartTime2}
        </if>
        <if test="orderName!=null and orderName!=''">
            and order_name=#{orderName}
        </if>
    </select>

    <!--ReservationVo picture_find(Integer id);-->
    <select id="picture_find" resultType="com.buba.hospital_back.bean.ReservationVo">
            SELECT
			o.id id,
			p.patient_name patientName,
			p.patient_medicalCardNumber patientMedicalcardnumber,
			p.patient_tel patientTel,
			o.order_num orderNum,
			o.order_name orderName,
			o.pay_start_time payStartTime,
			o.pay_money payMoney,
			o.pay_way payWay,
			o. STATUS orderStatus,
			t.timeframe timeframe,
			d. NAME doctorName,
			h.hospital_name hospitalName,
			f.department_name departmentName,
			a.appointment_time appointmentTime
		FROM
			sec_reservation r,
			sec_patient p,
			his_order o,
			sec_doctor_appointmenttime_timeframe t,
			sec_doctor_appointmenttime a,
			sec_doctor d,
			sec_hospital h,
			sec_first_department f
		WHERE
			r.patient_id = p.id
		AND r.order_id = o.id
		AND o.order_name = '预约挂号'
		AND r.timeframe_id = t.id
		AND r.doctor_id = d.id
		AND r.hospital_id = h.id
		AND r.department_id = f.id
		and a.id=t.appointmenttime_id
		and o.id=#{id}
    </select>
    <!--boolean updataOrder(Integer id);

        boolean updataReservatio(Integer id);-->
    <update id="updataOrder">
        update his_order set status=5,refund_start_time=now() where id=#{id}
    </update>

    <update id="updataReservatio">
        update sec_reservation set order_status=4  where order_id=#{id}
    </update>
</mapper>
