<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.SecDoctorAssistantMapper">

    <!--  //添加助理信息
    Integer add_as(SecDoctorAssistant secDoctorAssistant);-->
    <insert id="add_as">
        insert into sec_doctor_assistant(status,disabled,createtime,doctor_id,assistant_id)
        values(1,0,now(),#{doctorId},#{assistantId})
    </insert>
</mapper>
