<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.SecDoctorMultipointMapper">

<!-- //添加医生医院科室关联表
    Integer add_ho_de(SecDoctorMultipoint secDoctorMultipoint);-->
    <insert id="add_ho_de">
      INSERT INTO sec_doctor_multipoint
        (
            id,
            STATUS,
            disabled,
            createtime,
            doctor_id,
            hospital_id,
            department_id
        )
        VALUES
    	(
		#{id},1,0,now(),#{doctorId},#{hospitalId},#{departmentId})
		ON DUPLICATE KEY UPDATE id = #{id},
		STATUS = 1,
		disabled = 0,
		createtime = now(),
		doctor_id = #{doctorId},
		hospital_id = #{hospitalId},
		department_id = #{departmentId}
    </insert>

    <!--  //删除医生对应的医院以及科室信息
    Boolean delete_h_d(Integer id);-->
    <delete id="delete_h_d">
        delete from sec_doctor_multipoint  where id=#{id}
    </delete>
    <!--添加医生 关联-->

    <insert id="addSecDoctorMultipointMapper" useGeneratedKeys="true" keyProperty="id" >
        insert into  sec_doctor_multipoint(doctor_id,hospital_id) values (#{id},#{hospitalId})
    </insert>

</mapper>
