<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.SecHospitalMapper">

    <!--  //查询指定医院下所有的二级科室
    List<SecFirstDepartment> hospital_change(Integer hospitalId);-->
    <select id="hospital_change" resultType="com.buba.hospital_back.bean.SecSecondDepartment">
        select * from sec_second_department s1, sec_first_department s2 where s1.first_department_id = s2.id and s2.hospital_id  =#{hospitalId}
    </select>
    <!--
      所属医院
      public List<SecHospital> allHospital();-->
    <select id="allHospital" resultType="com.buba.hospital_back.bean.SecHospital">
        SELECT *
        FROM sec_hospital
    </select>
    <!--
   修改-医院介绍
   -->
    <update id="updatehospitaljieshao" useGeneratedKeys="true" keyProperty="id" parameterType="com.buba.hospital_back.bean.SecHospitalArticle">
        update sec_hospital
      set hospital_address=#{hospitalAddress},hospital_tel=#{hospitalTel}
      where id=#{id}
    </update>
    <!--
         /* *
      * 功能概述：用户管理<br>
      * <>
      * @Param: []
      * @Return: java.util.List<com.buba.hospital_back.bean.SelectYygl>
      * @Author: Administrator
      * @Date: 2019/12/13 16:15
      */
   public  List<SelectYygl> allYongHugunLi();
   -->
    <select id="allYongHugunLi" resultType="com.buba.hospital_back.bean.SelectYygl">
        SELECT
            u.username,
            h.hospital_name,
            h.hospital_sort,
            h.id,
            (SELECT count(*) FROM sec_doctor_multipoint dm WHERE dm.hospital_id= h.id ) count
        FROM
            sec_user u,
            sec_hospital h,
            sec_hospital_user hu
        WHERE
            u.id = hu.admin_id
        AND h.id = hu.hospital_id
        and u.role_id =2
    </select>
    <!--添加-->
    <insert id="addYiYuanGuanLi" keyProperty="id" useGeneratedKeys="true">
        insert into sec_hospital(hospital_sort,hospital_name,creator) values (#{hospitalSort},#{hospitalName},#{id})
    </insert>
    <!--医院全称 校验 -->
    <select resultType="string" id="seleSecHospital">
        select hospital_name
        from sec_hospital
        where hospital_name=#{hospitalName}
    </select>
    <!--医院简称 校验 -->
    <select resultType="string" id="selecthospitalSort">
        select hospital_sort
        from sec_hospital
        where hospital_sort=#{hospitalSort}
    </select>
    <update id="updateHospital" parameterType="com.buba.hospital_back.bean.SecHospital" >
      update sec_hospital
      set hospital_name=#{hospitalName},hospital_sort=#{hospitalSort}
      where id=#{id}
    </update>
</mapper>
