<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.SecRoleMapper">

<select id="allSecRole" resultType="com.buba.hospital_back.bean.SecRole">
    SELECT *
    FROM sec_role
    where id=2 or id=3
</select>
</mapper>
