<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.SecSecondDepartmentMapper">


    <!--  //判断二级科室是否存在
    Integer is_have_secondDepartmentName(String secondDepartmentName);-->
    <select id="is_have_secondDepartmentName" resultType="Integer">
       select id from sec_second_department where second_department_name = #{secondDepartmentName}
    </select>


    <!--   //修改二级科室信息
    Boolean update_department(SecSecondDepartment secSecondDepartment);-->
    <update id="update_department">
        UPDATE sec_second_department
        SET second_department_name = #{secondDepartmentName},
        sequence=#{sequence2},
        second_department_address=#{secondDepartmentAddress},
        second_department_commont=#{secondDepartmentCommont} where id=#{id}
    </update>


    <!--添加一级科室以及二级科室信息-->
    <!--ps：医院id无 一级科室简介无-->
    <insert id="add_office">
         insert into sec_second_department(status,disabled,createtime,
        first_department_id,second_department_name,sequence,
        second_department_address,second_department_commont)
        values (0,0,now(),#{firstDepartmentId},#{secondDepartmentName},#{sequence2},
        #{secondDepartmentAddress},#{secondDepartmentCommont})
    </insert>
</mapper>
