<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.hospital_back.mapper.SecUserMapper">
    <!--
       //查看用户信息
      SecUser loadUserInfo(String mobile);
      -->
    <select id="loadUserInfo" resultType="com.buba.hospital_back.bean.SecUser">
            select * from sec_user where phone=#{mobile}
    </select>

    <!--
     //查询权限列表
    List<SecRes> selectRoleRes(Integer id);
    -->
    <select id="selectRoleRes" resultType="com.buba.hospital_back.bean.SecRes">
            select sr2.* from sec_user su,sec_role sr,sec_role_res srr,sec_res sr2
            where su.role_id=sr.id
            and sr.id=srr.role_id
            and sr2.id=srr.res_id
            and su.id=#{id}
    </select>
    <!--
     //根据权限获取医院列表
     List<SecHospital> getOfHospital();
    -->
    <select id="getOfHospital" resultType="com.buba.hospital_back.bean.SecHospital">
            select * from sec_hospital
    </select>
    <!--
     List<SecHospital> getOfHospitalById(Integer id);
    -->
    <select id="getOfHospitalById" resultType="com.buba.hospital_back.bean.SecHospital">
            select sh.* from sec_hospital sh,sec_hospital_relation shr ,sec_user su
            where sh.id=shr.hospital_id
            and shr.admin_id=su.id
            and su.id=#{id}
    </select>
    <!--//后台管理&ndash;&gt;用户管理 List<SelectUrhdm> selectUrhdm();-->
    <select resultType="com.buba.hospital_back.bean.SelectUrhdm" id="selectUrhdm">
        SELECT u.id as id, hu.id as huId ,h.id as hospitalId, u.username,u.disabled, u.phone,h.hospital_name,r.role_name,u.role_id
        FROM sec_user u, sec_hospital_user hu, sec_role r,sec_hospital h
        WHERE u.id=hu.admin_id and hu.hospital_id=h.id and u.role_id=r.id
    </select>
    <!--//设置是否有效 int updateUserDisabled (Integer id,Integer disabled); -->
    <update id="updateUserDisabled">
        UPDATE sec_user
        set disabled= #{disabled}
        WHERE id=#{id};
    </update>
    <insert id="addUser" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sec_user (createtime,username,role_id,phone,id)
        VALUES(now(),#{username},#{roleId},#{phone},#{id})
        ON DUPLICATE KEY UPDATE
        createtime=now(),username=#{username},role_id=#{roleId},phone=#{phone},id=#{id}
    </insert>
    <!--
      //修改 用户管理
   int updateUser(SecUser secuser);
  -->
    <update id="updateUser">
        update  sec_user
        set username=#{username}
             ,phone=#{phone},
               role_id=#{roleId}
               where id=#{id}
    </update>
    <!---
      /* *
       * 功能概述：添加  医生<br>
       * <>
       * @Param: [addDoctor]
       * @Return: int
       * @Author: Administrator
       * @Date: 2019/12/18 14:00
       */
    int addDoctor(AddDoctor addDoctor);
-->
    <insert id="addDoctor" useGeneratedKeys="true" keyProperty="id">
        insert into sec_user(username,phone,role_id) values (#{name},#{phone},#{roleId})
    </insert>
</mapper>
